@page
@model GymActivitiesModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h4 class="mb-3 ml-5">Gym Activities:</h4>
</div>

<table class="list">
@foreach (var activity in Model.GymActivities)
{
        <tr id="tr_@activity.Id">
            <td style="width: 300px;">
                <span id="span_@activity.Id">@activity.Name</span>
                <input type="text" id="input_@activity.Id" value="@activity.Name" style="display:none" onkeydown="onInputKeyDown(event, '@activity.Id')" />
            </td>
            <td class="weight">
                <span id="span_weight_@activity.Id">@activity.Setting</span>
                <input type="text" id="input_weight_@activity.Id" value="@activity.Setting" style="display:none" class="weight" onkeydown="onInputKeyDown(event, '@activity.Id')" />
            </td>
            <td>
                <button id="btn_@activity.Id" class="btn btn-primary edit-save" onclick="editCell('@activity.Id')">Edit</button>
                <button id="cancel_@activity.Id" class="btn btn-secondary" onclick="cancelEdit('@activity.Id')" style="display:none">Cancel</button>
            </td>
            <td>    
                <button id="del_@activity.Id" class="btn btn-primary btnDelete" onclick="deleteRow('@activity.Id', '@activity.Name')">Remove</button>
            </td>
            <td>
                <p id="error_@activity.Id" class="error"></p>
            </td>
        </tr>
}
</table>
<div class="row">
    <div class="ml-5 mt-3">
        <a href="javascript://" onclick="addNew(true)"> New activity</a>
    </div>
</div>
