@page
@model MyActivities.Pages.MyDayModel
@{
    ViewData["Title"] = "My Day";
}
<table class="grid">
    <tr>
        <tr> 
            <td></td>
            @foreach (var day in Model.GetDays())
            {
            <td>@Model.DayToString(day)</td>
            }
        </tr>
    </tr>
@foreach (var activity in Model.Activities)
{
        <tr>
            <td>@activity.Name</td>
            @foreach (var day in Model.GetDays())
            {
                <td align="center" class="@Model.GetTdClass(day)"><input type="checkbox" id="@Model.GetCheckboxId(activity, day)" @Model.ISChecked(activity, day) onclick="return checkDayActivity('@activity.Id', '@Model.DayToUniversalString(day)')" /></td>
            }
        </tr>
}
</table>